<launch>

    <param name="use_sim_time" value="true" />

    <node pkg="map_server" type="map_server" name="map_server" args="$(find pf_localization)/test_data/basement_0808_.yaml" />

    <node pkg="pf_localization" type="pf_node" name="pf_node" output="screen">
        <remap from="scan" to="/scan" />
        <remap from="odom" to="/odom" />
        <rosparam file="$(find pf_localization)/params/pf_params1.yaml" command="load" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find pf_localization)/rviz/basement.rviz" />

    <node pkg="rosbag" type="play" name="bag_play" output="screen" args="--clock $(find pf_localization)/test_data/0808_1000_4.bag --topics /odom /scan /tf -r 1" />
</launch>