<launch>

    <!-- <arg name="scanPeriod" default="0.1" /> -->

    <!-- <include file="$(find lslidar_c16_decoder)/launch/lslidar_c16.launch" /> -->
    <!-- <include file="$(find zed_wrapper)/launch/zed.launch" /> -->

    <!-- <node pkg="image_transport" type="republish" name="republish_left"
        args="raw in:=/zed/left/image_rect_color compressed out:=/zed/left/image_rect_color/compressed">
    </node>
    <node pkg="image_transport" type="republish" name="republish_right"
        args="raw in:=/zed/right/image_rect_color compressed out:=/zed/right/image_rect_color/compressed">
    </node> -->
   
   <!-- <include file="$(find loam_velodyne)/launch/loam_velodyne.launch" />
   <include file="$(find get_2d_map)/launch/loam_to_2d.launch" /> -->

    <node pkg="localization_0725" type="pc2scan_rt" name="pc2scan">
        <param name="pc_topic" type="string" value="/lslidar_point_cloud" />
        <param name="scan_topic" type="string" value="/laser_scan" />
    </node>

	<node pkg="tf" type="static_transform_publisher" name="laser_base_link"
	    args="0 0.00 0 0 0 0 1 base_link laser 100" />

    
</launch>